body,
html {

    height: 100vh;
    width: 100vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    /* Prevent body from scrolling */

}

#icon {
    color: whitesmoke;
}

body.container {
    padding: 0;
}

.container {
    justify-content: center;

    max-width: 800px;

    margin: auto;

}

button, a {
    font-weight: 600;
    font-size: 16px;
}

h1 {
    text-align: center;
    margin: 24px;
}

.margin8px {
    margin: 8px;

}

.flex {
    display: flex;
    margin: 8px;;
}

.flex button {
    width: 50%;
}


.fetch-heading   {
   
    margin-bottom: 0;
    }

.fetch-heading  .btn {
width: 35px;
height: 45px;
margin-bottom: 0;
border-radius: 50px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.topLeftCorner {
    display: flex;
    flex-direction: row;
justify-content: center;}


#deleteButton {
    background-color: rgb(255, 93, 93);
    margin-right: 8px;
    border: 2px solid;
    border-color: rgb(230, 89, 89);
    width: 35px;
    display: flex;
}

#deleteButton:hover {
    background-color: rgb(230, 89, 89);
    

}


#editBtn {
    background-color: rgb(128, 239, 103);
    border: 2px solid;
    border-color: rgb(121, 225, 98);
    width: 35px;
    display: flex;


}

#editBtn:hover {
    background-color: rgb(121, 225, 98);

}
/* 
.section-1 h1 {
    margin-bottom: 16px;
} */

.section1, .section-2, .section-3 {
    margin: 8px; 
    max-width: 800px;
}

.section-2 {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 0;
    

}

/* ------------------------------------------------------- BUTTONS */

.btn {
    height: 50px;
    min-width: 65px;
    border-radius: 8px;
    box-shadow: 0px 1px 0px 0 rgba(0, 0, 0, 0.1);
    border: .5px solid #9595955a;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);

}

#goBackOrGoHome {
    margin-right: 8px;
    display: flex;
}

button#fetchButton, button#submitButton {
    background-color: #3498db;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    border: .5px solid #9595955a;
    height: 50px;
    /* Fetch button specific styling */
}

button#fetchButton:hover, button#submitButton:hover {
    background-color: #2980b9;
    /* Hover effect for fetch button */
}








/* ------------------------------------------------------ INDEX */

.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    border-radius: 16px;
    box-shadow: 0px 2px 0px 0 rgba(0, 0, 0, 0.1);


    max-width: 300px;
    width: 95vw;
    height: 95vh;



}

.index button {
    width: 300px;
    margin-bottom: 8px;
}

/* ------------------------------------------------------------- */


.questionSection {
    box-shadow: 0px 1px 0px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #9595955a;
    margin-bottom: 0;
    border-radius: 12px;
    padding: 8px;
    position: relative;

}


 /* Define soft pastel colors */
 .interviewer-bg {
    background-color: skyblue; /* Soft pastel blue */
}

.candidate-bg {
    background-color: #ccebc5; /* Soft pastel green */
}

.advice-bg {
    background-color: #ffcc80; /* Soft pastel orange-yellow */
}


#question-additionals {
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 2px;
    z-index: 10; /* Higher value to ensure it stays on top */

}

.questionToEdit {
    color: rgb(255, 55, 55);
}

/* .questionNotToEdit {
    color: #333;
}
 */
/* 
#question-additionals:hover {
    
} */



/* SCROLLABLE */

.scrollable {
    
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    border: .5px solid #9595955a;
    border-radius: 8px;
    padding: 8px;
    margin-top: 0;
    box-sizing: border-box; /* Ensure padding does not cause overflow */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-x: hidden;


}


/* SEARCH BAR */

#search-input {
    width: 100%;
    max-width: 800px;
    margin: 8px 8px 0 8px;
    padding-left: 8px;
    height: 45px;
    border-radius: 16px;
    font-size: 16px;
    border: .5px solid #9595955a;


}

.hidden {
    display: none;
}



/* TEXTAREA */

textarea {
    font-size: 16px;
    font-weight: bold;
    border: .5px solid #9595955a;

    width: 100%;
    max-width: 800px;
    height: 100px;
    /* Hidden textarea with specific dimensions */
    border-radius: 8px;
}   

#editableText{
    width: 100%;
    overflow-x: hidden;
}


#questions-container {
    height: 100%;
    width: 100%;
        /* Container styling for questions */
        overflow-x: hidden;
        
    box-sizing: border-box; /* Ensure padding does not cause overflow */
    padding: 0;

}

/* Show All Questions Page */

#questions-container a {
    
    padding: 8px;
    

}

.question {
    font-size: 16px;
    font-weight: bolder;

}
/* Anchor Link Styles */
a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    /* Inline-block anchor styling */
}
